extends ../layout

block title
    title Atracciones - Tykuna

block content 
    main
        div.header-actions
            h1 Atracciones del Parque
            a.btn(href="/rides/create") + Añadir Atracción

        section.rides-list
            each ride in rides 
                include rideCard