extends layout 

block title 
    title Rollercoaster Tykuna 

block navlinks 
    li 
        a(href="http://", target="_blank", rel="noopener noreferrer") Admin
block content 
    h1 Rollercoaster Tycoona Welcome page 
